In [1]:
##importar libreria

import pandas as pd

In [ ]:
#importan datos
df = pd.read_csv('WildBlueberryPollinationSimulationData.csv')
df

In [ ]:
##La tabla cuenta con 18 columnas y la vista las muestra asi que no sera necesario aplicar la funcion set_option

## obtener un resumen de la tabla

df.describe()

##Features Unit Description
##Clonesize m2 The average blueberry clone size in the field
##Honeybee bees/m2/min Honeybee density in the field
##Bumbles bees/m2/min Bumblebee density in the field
##Andrena bees/m2/min Andrena bee density in the field
##Osmia bees/m2/min Osmia bee density in the field
##MaxOfUpperTRange ℃ The highest record of the upper band daily air temperature during the bloom season
##MinOfUpperTRange ℃ The lowest record of the upper band daily air temperature
##AverageOfUpperTRange ℃ The average of the upper band daily air temperature
##MaxOfLowerTRange ℃ The highest record of the lower band daily air temperature
##MinOfLowerTRange ℃ The lowest record of the lower band daily air temperature
##AverageOfLowerTRange ℃ The average of the lower band daily air temperature
##RainingDays Day The total number of days during the bloom season, each of which has precipitation larger than zero
##AverageRainingDays Day The average of raining days of the entire bloom season

In [11]:
## para el filtrado de valores unicos en toda la tabla y por parametro
## para toda la tabla
df.nunique()

Row#                    777
clonesize                 6
honeybee                  7
bumbles                  10
andrena                  12
osmia                    12
MaxOfUpperTRange          5
MinOfUpperTRange          5
AverageOfUpperTRange      5
MaxOfLowerTRange          5
MinOfLowerTRange          5
AverageOfLowerTRange      5
RainingDays               5
AverageRainingDays        5
fruitset                777
fruitmass               777
seeds                   777
yield                   777
dtype: int64

In [13]:
df['clonesize'].unique()

## Al no tener variable con un solo valor, no considero que se deba eliminar alguna columna

df.describe()

,Row#,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds,yield
count,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000
mean,388.000000,18.767696,0.417133,0.282389,0.468817,0.562062,82.277091,49.700515,68.723037,59.309395,28.690219,48.613127,18.309292,0.320000,0.502121,0.445983,36.122432,6012.849165
std,224.444871,6.999063,0.978904,0.066343,0.161052,0.169119,9.193745,5.595769,7.676984,6.647760,3.209547,5.417072,12.124226,0.171279,0.079445,0.040333,4.377889,1356.955318
min,0.000000,10.000000,0.000000,0.000000,0.000000,0.000000,69.700000,39.000000,58.200000,50.200000,24.300000,41.200000,1.000000,0.060000,0.192732,0.311921,22.079199,1637.704022
25%,194.000000,12.500000,0.250000,0.250000,0.380000,0.500000,77.400000,46.800000,64.700000,55.800000,27.000000,45.800000,3.770000,0.100000,0.454725,0.416281,33.116091,5124.854901
50%,388.000000,12.500000,0.250000,0.250000,0.500000,0.630000,86.000000,52.000000,71.900000,62.000000,30.000000,50.800000,16.000000,0.260000,0.508297,0.445587,36.166044,6107.382466
75%,582.000000,25.000000,0.500000,0.380000,0.630000,0.750000,89.000000,52.000000,71.900000,66.000000,30.000000,50.800000,24.000000,0.390000,0.561297,0.476149,39.239668,7022.189731
max,776.000000,40.000000,18.430000,0.585000,0.750000,0.750000,94.600000,57.200000,79.000000,68.200000,33.000000,55.900000,34.000000,0.560000,0.652144,0.535660,46.585105,8969.401842

In [14]:
##ejercicios de filtrado

Densidad_abejas_alta = df[df['honeybee'] > 0.50]
Densidad_abejas_alta.describe()

## Debido a una alta densidad de abejas por m2, el promedio de rendimiento es de 4,291

,Row#,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds,yield
count,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000
mean,368.571429,29.642857,2.933905,0.169476,0.265714,0.150095,86.328571,50.785714,71.314286,62.409524,29.823810,50.314286,12.436190,0.214286,0.414651,0.389384,29.709683,4291.591331
std,390.761253,9.787930,5.452811,0.092859,0.118859,0.108654,6.021557,5.325813,5.315946,4.462948,2.166081,3.884236,11.200151,0.173279,0.084584,0.027367,2.742950,1074.919888
min,0.000000,10.000000,0.537000,0.000000,0.000000,0.000000,69.700000,39.000000,58.200000,50.200000,24.300000,41.200000,1.000000,0.060000,0.246568,0.336240,24.601741,2379.905214
25%,5.000000,20.000000,0.537000,0.117000,0.250000,0.058000,86.000000,52.000000,71.900000,62.000000,30.000000,50.800000,3.770000,0.060000,0.379906,0.375616,28.462005,3813.165795
50%,10.000000,37.500000,0.750000,0.250000,0.250000,0.250000,86.000000,52.000000,71.900000,62.000000,30.000000,50.800000,3.770000,0.100000,0.407564,0.392303,29.742583,4203.027624
75%,765.000000,37.500000,0.750000,0.250000,0.409000,0.250000,89.000000,52.000000,71.900000,66.000000,30.000000,50.800000,24.000000,0.390000,0.464366,0.408159,31.562586,4947.605663
max,776.000000,40.000000,18.430000,0.250000,0.409000,0.250000,94.600000,57.200000,79.000000,68.200000,33.000000,55.900000,34.000000,0.560000,0.559628,0.436346,34.849953,6276.410544

In [ ]:
##ejercicios de filtrado

Densidad_abejas_alta = df[df['honeybee'] > 0.50]
Densidad_abejas_alta.describe()

In [16]:
## Ejercicio de filtrado 2 

Alta_incidencia_lluvia = df[df['RainingDays'] > 18]
Alta_incidencia_lluvia.describe()

,Row#,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds,yield
count,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000
mean,386.109333,18.573333,0.356864,0.285344,0.474421,0.574629,82.318133,49.724000,68.756000,59.339200,28.704267,48.637067,28.986667,0.474773,0.463273,0.427520,34.021309,5285.027029
std,218.251967,6.876826,0.129347,0.059511,0.156353,0.154351,9.241987,5.625768,7.716671,6.682576,3.226326,5.445593,5.006662,0.085113,0.074351,0.034783,3.733462,1189.188125
min,4.000000,12.500000,0.250000,0.117000,0.250000,0.058000,69.700000,39.000000,58.200000,50.200000,24.300000,41.200000,24.000000,0.390000,0.233554,0.335339,24.320627,1945.530615
25%,199.500000,12.500000,0.250000,0.250000,0.380000,0.500000,77.400000,46.800000,64.700000,55.800000,27.000000,45.800000,24.000000,0.390000,0.409247,0.401080,31.105888,4405.984346
50%,385.000000,12.500000,0.250000,0.250000,0.500000,0.630000,86.000000,52.000000,71.900000,62.000000,30.000000,50.800000,24.000000,0.390000,0.467569,0.426678,33.934417,5330.062031
75%,574.500000,25.000000,0.500000,0.380000,0.630000,0.750000,94.600000,57.200000,79.000000,68.200000,33.000000,55.900000,34.000000,0.560000,0.512178,0.451532,36.666570,6097.778009
max,776.000000,37.500000,0.750000,0.380000,0.750000,0.750000,94.600000,57.200000,79.000000,68.200000,33.000000,55.900000,34.000000,0.560000,0.612223,0.507222,42.939977,7969.025753